#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.header-container {
  width: 100%;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.attr-text {
  font-size: 0.75em;
  color: #666;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.my-button {
  background-color: azure;
  border: none;
  border-radius: 5%;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@keyframes flow {
  0% {
    stroke-dashoffset: 200;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.highlight-animate {
  stroke: #00b3ff;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 200;
  /* total length of line */
  animation: flow 1.2s ease-out forwards;
}

.concept-button {
  border: solid black 2px;
  color: white;
}

.button-positive {
  background-color: steelblue;
  border: solid black 2px;
  color: white;
}

.button-negative {
  background-color: pink;
  border: solid black 2px;
}

.button-unavailable {
  background-color: grey;
  color: white;
  pointer-events: none;
  border: 2px dashed grey;
}

.underline-input {
  border: none;
  border-bottom: 2px solid black;
  padding: 4px 0;
  outline: none;
  width: 200px;
}

.underline-input:focus {
  border-bottom-color: steelblue;
}